@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crimson+Pro:200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora:regular,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap%27');

/* ------------------RESET E BODY-----------------*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    vertical-align:baseline;
    list-style:none;
    border:0
}
body{
    background-color: white;
    font-family: "Montserrat", sans-serif;
    padding: 0 clamp(0.75rem, -0.68rem + 9.1vw, 4.813rem);
    margin:0 7vw;
    
}
img{
    height: auto;
    max-width: 100%;
}
/*------------------HEADER COMPLETA---------------------*/
h1{
    font-family: 'Playfair Display',sans-serif;
    font-size: 48px;
    line-height: 64px;
    line-height: 100%;
    text-align: left;
    vertical-align: top;
    font-weight: bold;
    margin-bottom: 20px;
}

.svg__p{
    display: flex;
    max-width: 610px;
    width: 100%;
    align-items: first baseline;
    gap:5px;
}
.first__text{
    font-family: 'Montserrat',sans-serif;
    font-size: medium;
    font-style: italic;
    font-size: 14px;
    line-height: 17px;
    line-height: 100%;
    text-align: left;
    vertical-align: top;
    font-weight: 400;
}
.cake{
    margin-top: 20px;
    object-fit: cover;
}
@media(max-width:835px){
    h1{
        font-size: 40px;
    }
    .cake{
        height: auto;
    }
}
@media(max-width:520px){
    h1{
        font-size: 30px;
    }
    .cake{
        border-radius: 8px;
    }
}
@media(max-width:392px){
    h1{
        font-size: 24px;
    }
}

/*--------------------------------------------------------*/


/*________MAIN______*/
main{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap:30px;
}
.recipe__box{

    display: flex;
    flex-direction: column;
    max-width: 216px;
    max-height: 367px;
    width: 100%;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    padding:20px 10px;
    margin-top: 50px;

}
.flex__recipe{
    display: flex;
    gap:20px;
    padding:20px 20px;
    

}
i{
  font-size: 28px;
}
.yellow{
    color: #F2994A;
    
}
#time__recipe__yellow{
    color: #F2994A;
}
.desc__recipe{
    font-family: "Montserrat",sans-serif;
    font-size: 10px;
    line-height: 12px;
    line-height: 100%;
    text-align: left;
    vertical-align: top;
    color:#BDBDBD;
    font-weight: 700;
    text-transform: uppercase;

}
.time__recipe{
    font-family: "Montserrat",sans-serif;
    font-size: 14px;
    line-height: 17px;
    line-height: 100%;
    text-align: left;
    vertical-align: top;
    color:#333333;
    font-weight: 500;
}
@media(min-width:1441px){
    body{
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;  
    }
    main{
        max-width: 1200px;
        width: 100%;
        
    }
    .svg__p{
        max-width: 900px;
        width: 100%;
        font-size: 20px;
    }
    .recipe__box{
        max-height:350px ;
        max-width: 300px;
    }
    i{
        font-size: 35px;
    }
    .desc__recipe, .time__recipe{
        font-size: 20px;
    }
    
    

}
@media(max-width:768px){
    body{
        margin: 0;
    }
    main{ 
        flex-direction: column;

    }
    .recipe__box{
        margin: 0 auto 20px auto;
        display: grid;
        max-width: 768px; 
        width: 100%; 
        padding: 10px 10px;
        justify-content: start;
        box-shadow: none;
            
    }
    .recipe__box .flex__recipe:nth-child(1){
        grid-column-start:1;
        grid-column-end: 4;
        
    }
    .flex__recipe{
        gap:10px;
        margin-left: 0px;
    }
    i{
        font-size: 20px;
    }
    .time__recipe{
        font-size: 18px;
        
        
        
    }
    .desc__recipe{
        font-size: 12px;
        
    }
    
}
@media(max-width:521px){
    body{
        margin: 0;
    }
    .flex__recipe{
        padding: 10px 15px;
    }
    i{
        font-size: 10px;
    }
    .desc__recipe{
        font-size:11px;
    }
    .time__recipe{
        font-size: 11px;
    }

}
@media(max-width:393px){
    .flex__recipe{
        padding: 2px;
    }
}
@media(max-width:332px){
    .desc__recipe, .time__recipe{
        font-size: 10px;
    }
}


/*--------------RECEITAS E INGREDIENTES--------------*/
.section__texts{
    max-width: 800px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
     
}

.section__texts h3 {
    max-width: 100%;
    font-family: 'Playfair Display';
    font-size: 24px;
    line-height: 32px;
    line-height: 100%;
    text-align: left;
    vertical-align: top;
    font-weight: bold;
    font-weight:700;
    color: #333333;
    margin-top: 25px;
  }
  
  .section__texts p {
    
    margin-top: 20px;

  }
  .box__p , .orange__p{
    display: flex;
    align-items: first baseline;
    gap:10px;

  }
  .box{
    max-width: 21px;
    width: 100%;
    height: 21px;
    border: 1px solid #828282;
    border-radius: 1px;

  }
  .recipes{
    font-family: 'Playfair Display';
    font-style: italic;
    font-size: 18px;
    line-height: 24px;
    line-height: 100%;
    text-align: left;
    vertical-align: top;
    color: #333333;
    margin: 30px 0;
  }
  .p__box{
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    line-height: 128%;
    text-align: left;
    vertical-align: top;
  }
  span{
    font-weight: bold;
  }
  .dif__span{
    font-weight: 500;
  }
  .box__orange{
    max-width: 36px;
    width: 100%;
    height: 36px;
    background-color: #F2994A;
    border-radius: 1px;
    padding-top: 2px;
    border-radius: 5px;
    text-align: center;
    font-size: 24px;
    font-family: 'Playfair Display';
    color: #fff;
    font-weight: bold;
    line-height: 32px;
    line-height: 100%;
    vertical-align: top;

  }
  .orange__p{
    margin:22px 0;
  }
  .p__orange{
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    line-height: 128%;
    text-align: left;
    vertical-align: top;
  }
  .source{
    color: #BDBDBD;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    line-height: 150%;
    text-align: left;
    vertical-align: top;

  }
  footer{
        margin-top: 3%;
        text-align: center;
  }
  footer p{
    font-family: 'Playfair Display';
    font-size: 16px;
    line-height: 24px;
    line-height: 100%;
    font-weight: 600;
  }
  footer a{
    text-decoration: underline 2px;
    color: black;
    font-style: italic;
  }
  
  @media (max-width:768px) {
        .section__texts h3{
            padding-top:0%;
            margin-top: -5%;
        }
  }
  /*-----------MELHORANDO TAMANHO DA FONTE PARA 4K----------*/
  @media(min-width:1441px){
    h1{
        font-size: 80px;
    }
    .first__text{  
        font-size: 20px;
    }
    .section__texts h3{
        font-size: 40px;
    }
    .recipes{
        font-size: 24px;
    }
    .p__box, .p__orange{
        font-size: 20px;
    }
    
    
    
  }





